* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 194;
    --bg-color: hsl(var(--hue), 0%, 100%);
    --text-color: hsl(var(--hue), 6%, 21%);
    --primary-color: hsl(var(--hue), 97%, 31%) ;
    --card-bg-color: hsl(var(--hue), 9%, 89%);

    font-size: clamp(40%, 1% + 2vh, 62.5%);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
}

.flex {
    display: flex;
}






